<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}
<style>
img {
	max-width : 100%;
}
</style>
</head>
<body>
	{{ partial "header.html" . }}
	{{ partial "navigation.html" . }}
	<main class="no-animation">
		<section>
			<article class="">
				<header><h1>Vidhance Live Auto Zoom</h1></header>
					<ul>
					<li><a href="#Video examples found here"> Video Examples</a></li>
					<li><a href="#Example image material"> Example Images </a></li>
					<li><a href="#Imint Management Group"> Imint Management Group </a></li>
					<li><a href="#Vidhance Logotypes"> Vidhance Logotypes </a></li>
					<h3 id="Video examples found here">
					Video examples found here
					</h3>
					<p>
					<a href="https://vimeo.com/201029608/beec370960">Boats</a>
					</p>
					<p>
					<a href="https://vimeo.com/204221274/016bd4731a">Paris statue side by side</a>
					</p>
					<p>
					<a href="https://vimeo.com/204218784/2c7812affa">Music cut side by side, multi-object tracker</a>
					</p>										
					<h3 id="Example image material">
					Example image material
					</h3>
					<img src="LAZ tracker.png">
					<p>
					Vidhance Live Auto Zoom allows user to select an object or person to track, by either tapping on that location on the screen (left), or by drawing a circle around it (right). With a high level of user-interface customization, the integration partners can design their own look & feel, user interaction and experience.
					</p>
					<img src="Boat.png">
					<p>
					Vidhance Live Auto Zoom automatically smooth zooms and pans directly during recording. Left: screen user-interface with video preview. Right: actual recorded video. 
					</p>
					<img src="LAZ multi-trackers.png">
					<img src="LAZ multi-trackers 1.png">
					<p>
					Vidhance Live Auto Zoom integrates a purpose-built, multi-object tracker and sizer, leaving the user to focus on the overall cinematic experience.
					</p>
					<h3 id="Imint Management Group">
					Imint Management Group
					</h3>
					<img src="Mgm.png">
					<h3 id="Vidhance Logotypes">
					Vidhance Logotypes
					</h3>
					<center style="width: 50%; margin-left: 25%;">
					<img src="O_ Logo_Vidhance_centred_rgb_black.png">
					<p>
					

					</p>
					<img src="O_ Logo_Vidhance_landscape_rgb_black.png">
					<p>
					

					</p>
					<img src="O_ Logo_Vidhance+EnhancedVE_centred_rgb_black.png">
					</center>
				<main>{{ .Content }}</main>
			</article>
		</section>
	</main>
	{{ partial "footer.html" . }}
	{{ partial "foot.html" . }}
</body>
</html>
