<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}
<style>
img {
	max-width : 100%;
}
</style>
</head>
<body>
	{{ partial "header.html" . }}
	{{ partial "navigation.html" . }}
	<main class="no-animation">
		<section>
			<article class="">
				<header><h1>Vidhance Live Auto Zoom</h1></header>
					<ul>
					<li><a data-hej href="#Video Examples"> Video Examples</a></li>
					<li><a data-hej href="#Screen Shots"> Screen Shots </a></li>
					<li><a data-hej href="#Product Pictures"> Product Pictures </a></li>
					<li><a data-hej href="#Individuals"> Individuals </a></li>
					<li><a data-hej href="#Vidhance Logotypes"> Vidhance Logotypes </a></li>
<script>
onload = function() {
$("[data-hej]").on("click", function() {
setTimeout(function() {
	scrollBy(0, -($('body > header').height() + 30) );
});
})
};
</script>
					<h3 id="Video Examples">
					Video Examples
					</h3>
					<p>
					<a href="https://vimeo.com/201029608/beec370960">https://vimeo.com/201029608/beec370960</a>
					Vidhance Live Auto Zoom - Boat
					</p>
					<p>
					<a href="https://vimeo.com/204221274/016bd4731a">https://vimeo.com/204221274/016bd4731a</a>
					Vidhance Live Auto Zoom - Paris statue side by side
					</p>
					<p>
					<a href="https://vimeo.com/204218784/2c7812affa">https://vimeo.com/204218784/2c7812affa</a>
					Vidhance Live Auto Zoom, multi-object tracker - Music cut side by side 
					</p>										
					<h3 id="Screen Shots">
					Screen Shots
					</h3>
					<img src="LAZ tracker.png">
					<p>
					Vidhance Live Auto Zoom allows user to select an object or person to track, by either tapping on that location on the screen (left), or by drawing a circle around it (right). With a high level of user-interface customization, the integration partners can design their own look & feel, user interaction and experience.
					</p>
					<img src="Boat.png">
					<p>
					Vidhance Live Auto Zoom automatically smooth zooms and pans directly during recording. Left: screen user-interface with video preview. Right: actual recorded video. 
					</p>
					<img src="LAZ multi-trackers.png" style="float: left; width: 48%; margin-right: 1%; margin-bottom: 0.5em;">
					<img src="LAZ multi-trackers 1.png" style="float: left; width: 48%; margin-right: 1%; margin-bottom: 0.5em;">
					<p style="clear: both;">
					<p>
					Vidhance Live Auto Zoom integrates a purpose-built, multi-object tracker and sizer, leaving the user to focus on the overall cinematic experience.
					</p>
					<h3 id="Product Pictures">
					Product Pictures
					</h3>
					<img  src="Vidhance - Video Stabilization_square.png">
					<img src="Vidhance - Live Auto Zoom.png">
					<img src="Vidhance - Auto Cut.png">
					<img src="Widw_Vidhance---Video-Stabilization_1.jpg">
					<img src="Widw_Vidhance---Live-Auto-Zoom_2.jpg">
					<img src="Widw_Vidhance---Auto-Cut_2.jpg">
					<h3 id="Individuals">
					Individuals
					</h3>
					
					<p>Andreas_Lifvendahl, CEO</p>
					
					<p>Johan_Svensson, Product Director</p>
					
					<p>Jens_Alander, COO/CFO</p>
					<h3 id="Vidhance Logotypes">
					Vidhance Logotypes
					</h3>
					<center style="width: 50%; margin-left: 25%;">
					<img src="O_ Logo_Vidhance_centred_rgb_black.png">
					<p>
					

					</p>
					<img src="O_ Logo_Vidhance_landscape_rgb_black.png">
					<p>
					

					</p>
					<img src="O_ Logo_Vidhance+EnhancedVE_centred_rgb_black.png">
					</center>
				<main>{{ .Content }}</main>
			</article>
		</section>
	</main>
	{{ partial "footer.html" . }}
	{{ partial "foot.html" . }}
</body>
</html>
