<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>{{ partial "head.html" . }}</head>
<body>
	{{ partial "header.html" . }}
	{{ partial "navigation.html" . }}
	<main class="no-animation">
		<section>
			<article class="">
				<header><h1>{{ .Title }}</h1></header>
					<img src="{{ .RelPermalink }}{{ .Params.bild1 }}">
					<img src="{{ .RelPermalink }}{{ .Params.bild2 }}">
					<img src="{{ .RelPermalink }}{{ .Params.bild3 }}">
				<main>{{ .Content }}</main>
			</article>
		</section>
	</main>
	{{ partial "footer.html" . }}
	{{ partial "foot.html" . }}
</body>
</html>
