/*
   Styling for CSS-based drop-down menus.

   (C) Copyright 2006 Just Software Solutions Ltd.
   Distributed under the Boost Software License, Version 1.0.
   (See http://www.boost.org/LICENSE_1_0.txt)

   (c) copyright 2015 Imint AB

*/

body > nav a,
body > nav a:link,
body > nav a:hover,
body > nav a:visited {
  text-decoration: none;
  color: white;
  padding: 0.5em;
}
body > nav {
  width: 100%;
  background-color: #062747;
}
body > nav > ul {
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}
body > nav > ul ul,
body > nav > ul li
{
  padding: 0;
  margin: 0;
  text-align: left;
}
body > nav > ul > li
{
  float: left;
}
body > nav > ul li
{
  list-style-type: none;
  border: 1px solid #062747;
  color: white;
  background-color: #062747;
  padding: 2px;
}
body > nav > ul ul
{
    display: none;
    position: absolute;
    margin-left: -3px;
    margin-top: 2px;
}
body > nav > ul li:hover > ul
{
    display: block;
}

body > nav > ul a
{
    color: white;
    background: none;
    display: block;
    text-decoration: none;
}
body > nav > ul li:hover
body > nav > ul li.hover,
body > nav > ul a:hover
{
    color: #062747;
    background-color: white;
}
body > nav > ul ul ul
{
    margin-top: -1.2em;
    left: 99%;
}
body > nav > ul span
{
    display: block;
}
body > nav + *
{
    clear: left;
}
